body {
   font-family: 'Fira Sans', sans-serif;
   font-weight: 400;
   font-size: 16px;
   color: #fff;
   background-color: #171919;
   text-transform: uppercase;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
ul,
li{
  list-style: none;
  margin: 0;
  padding: 0;
}

.headline-left {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  opacity: 0.5;
  padding-left: 103px;
  position: relative;
  display: inline-block;
  &::before{
     content: '';
     position: absolute;
     width: 80px;
     height: 1.5px;
     background-color: #fff;
     left: 0;
     top: 50%;
  }
}
.headline-right {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  opacity: 0.5;
  padding-right: 103px;
  position: relative;
  display: inline-block;
  &::before{
     content: '';
     position: absolute;
     width: 80px;
     height: 1.5px;
     background-color: #fff;
     right: 0;
     top: 50%;
  }
}
.title {
  span {
    font-size: 200px;
    color: rgba(#fff,0.02);
    font-weight: 800;
    position: relative;
    transform: translateX(-50deg);
    display: inline-block;
  }
  h3{
    position: absolute;
    color: #fff;
    top: 0;
    right: -5px;
    margin: 0;
    font-size: 80px;
    &::after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 80px;
      height: 1px;
      background-color: $green;
    }

  }
}

.subtitle{
  display: inline-block;
  text-align: right;
  &__head{
    font-weight: 800;
    font-size: 40px;
    padding-right: 10px;
    span{
      font-weight: 100;
    }
  }
}
.btn {
  font-size: 4em;
  line-height: 36px;
  font-weight: 800;

  span {
    padding: 17px 57px 15px 17px;
    background-color: $green;
    display: inline-block;
    margin-left: 19px;
    position: relative;

  &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 1px;
      background-color: #fff;
      top: 50%;
      left: -10px;
  }

  &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 21px;
      background-image: url(../images/arrows-right.svg);
      top: 50%;
      right: 17px;
      transform: translateY(-50%);
  }
}
}

.descr{
  display: inline-block;
  padding-left: 5px;
  &__head{
    font-weight: 800;
    font-size: 40px;
    span{
      font-weight: 100;
    }
  }
}

.surf,
.travel{
  padding: 160px 0 120px;
}

.travel{
  padding-bottom: 265px;
  margin-bottom: 35px;
}
.sleep{
  padding-bottom: 265px;
  margin-bottom: 35px;
}

.quantity {
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 45px;
  height: 42px;
  display: block;
  border: none;
  font-size: 40px;
  line-height: 36px;
  font-weight: 800;
  background-color: transparent;
  color: #fff;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: static;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 45px;

}

.quantity-button.quantity-up {
  position: absolute;
  right: 0px;
}

.quantity-button.quantity-down {
  position: absolute;
  right: 25px;
  
}

.star-list{
  li{
    display: inline-block;
    & + li{
      margin-left: -25px;
    }
  }
} 



