@media(max-width: 1440px) {   
   .menu-btn{
      
   }
   .logo{
      img{
         width: 100px;
      }
   }
   .header__title{
      font-size: 130px;
      line-height: 108px;
      top: 20px;
      left: 60px;
   }
   .menu{
      padding-top: 10px;
   }
   .header__search{
      padding-bottom: 8px;
   }
   .header__date{
      font-size: 60px;
      span{
         font-size: 14px;
         padding-top: 0;
         margin-bottom: 5px;
      }
   }
   .header__arrows{
      left: 130px;
   }
   .surf-box__inner{
      min-height: 650px;
   }
}

@media(max-width:1366px){
   .header__aside{
      position: absolute;
      border-right: none;
      height: 108px;
      padding-right: 25px;
      background-color: rgba(#fff, 0.1);
      text-align: left;
      display: flex;
   }
   .menu{
      padding-top: 0;
   }
   .menu__list{
      text-align: center;
      li{
         display: inline-block;
      }
      a{
         padding: 15px;
      }
   }
   .header__search{
      padding: 33px 15px 15px;
   }
   .header__date{
      padding: 15px;
   }
   .header__location{
      margin-top: 42px;
   }
   .slider-item__info-title{
      font-size: 65px;
   }
   .header__arrows{
      left: 20px;
      bottom: 20px;
   }
   .shop__slider-content{
      padding-left: 40px;
   }
   .shop__slider-price{
      margin-bottom: 30px;
   }
}
@media(max-width:1340px){
   .header__map{
      svg{
         width: 500px;
         height: 250px;
      }
   }
   .slider-arrows{
      top: 20px;
      right: 20px;
   }
   .slider-arrows__left{
      right: 60px ;
   }

}
@media(max-width:1250px){
   .slider-map{
      max-width: 1000px;
      min-height: 515px ;
   }
   .slider-map .slick-list{
      min-height: 515px ;
   }
   .dots--1 {
      top: 266px;
      .dots__content {
        transform: translateX(0);
        z-index: 5;
        &::before {
          left: 0;
        }
      }
    }
    .dots--2 {
      top: 270px;
    }
    .dots--3 {
      top: 253px;
    }
    .dots--4 {
      top: 390px;
    }
    .dots--5 {
      top: 180px;
    }
    .dots--6 {
      top: 440px;
      left: -85px;
    }
    .dots--7 {
      top: 310px;
      left: -85px;
    }
    .dots--8 {
      top: 397px;
    }
    .shop__slider-inner{
       display: block;
    }
    .shop__slider-info{
       padding-top: 55px;
       padding-bottom: 50px;
    }
    .shop__slider{
       padding-left: 20px;
    }
    .surfboard__position--3 .surfboard-box__content{
      left: 60px;
    }
    .surfboard__position--3 .surfboard-box__content::before{
       width: 20px;
       right: auto;
       left: -32px;
    }
     
}
@media(max-width:1150px){
   .surf, .travel{
      padding: 70px 0 50px;
   }
   .travel-slider__descr{
      padding: 160px 0 0 20px;
   }
}
@media(max-width:1102px){
   .slider-map{
      background-image: none;
      max-width: 100%;
      min-height: 280px;
      .slick-list {
         overflow: hidden;
         min-height: 280px;
       }
       .slick-track{
          min-height: 280px;
       }  
   }
   .dots__circle{
      display: none;
   }
   .slider-dots__item{
      display: block;
      &::before{
         display: none;
      }
   }
   .slider-dots{
      position: static;
   }
   .slider-dots__item,
   .slider-dots--8 .slider-dots__item{
      transform:translateX(0)
   }
   .slider-dots__item{
      width: 285px;
      padding: 28px 31px 0 32px;
      
   }
   .slider-map .slick-current .slider-dots__item{
      background:rgba(#ccc,0.7);
   }
}

@media(max-width:1040px){
   .header__arrows{
      display: none;
   }
   .menu{
      display: none;
      background-color: #000;
      z-index: 22;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      transform: translateX(-100%);
      justify-content: center;
      align-items: center;
      padding-top: 16px;
      transition:all .5s;
      &.active{
         transform: translateX(0);
      }
   }
   .menu-btn{
      display: flex;
   }
   .header__search{
      padding: 40px 15px 15px;
   }
   .slider-item__info{
      position: absolute;
      right: 20px;
      bottom: 17px;
      text-align: right;
   }
   .slider-item__info-text{
      font-size: 30px;
      margin-bottom: 15px;
   }
   .headline-left{
      font-size: 16px;
      line-height: 18px;
      padding-left: 65px;
   }
   .headline-right{
      font-size: 16px;
      line-height: 18px;
      padding-right: 65px;
   }
   .slider-item__info-suptext{
      margin-bottom: 5px;
   }
   .headline-left::before,
   .headline-right::before{
      width: 50px;
   }
   .slider-item__info-title{
      font-size: 55px;
      line-height: 55px;
      font-weight: 800;
      margin-bottom: 20px;
   }
   .slider-dots{
      right: 0;
      left: 10px;
      margin: 0 auto;
      bottom: 5px;
   }
   .dots-box{
      width: 125px;
   }
   .dots-box__number{
      font-size: 18px;
   }
   .dots-box__name{
      line-height: 18px;
   }
   .surf__subtitle{
      padding-right: 20px;
   }
   .travel-slider__info{
      display: block;
   }
   .travel-slider__info-subtitle{
      position: static;
      transform: rotate(0deg);
      height: auto;
      width: auto;
      text-align: left;
   }
   .travel-slider__info-item{
      min-height: auto;
      margin-bottom: 20px;
      padding-left: 20px;
   }
   .travel-slider__info-title{
      padding-left: 0;
   }
   .travel-slider__descr{
      background-position: right -119px;
   }
   .travel{
      .title{
         span{
            padding-bottom: 0;
         }
      }
   }
   .quantity-button.quantity-up{
      right: auto;
      left: 25px;
   }
   .quantity-button.quantity-down{
      right: auto;
   }
   .sleep .travel-slider__descr{
      background-position: right 10px;
   }
}



@media(max-width:960px){
   .slider-dots{
      display: none;
   }
}

@media(max-width:767px){
   .surfboard-box__content{
      padding-left: 0;
      top: 35px;
      width: 270px;
      &::before{
         display: none;
      }
   }
   .surfboard__position--1{
      .surfboard-box__content{
         left: -177px;
      }
   }
   .shop__extras{
      padding-left: 75px;
   }
}
@media(max-width:720px){
   .title {
      span{
         font-size: 87px;
         padding-bottom: 80px;
         padding-left: 10px;
      }  
   }
   .surf-slider .slider-arrows{
      top: 20px;
   }
   .surf-slider{
      padding-top: 65px;
   }
   .travel-slider__head{
      min-height: 720px;
   }
   .travel-slider__subtitle{
      padding:100px 20px 0 0;
   }
   
}
@media(max-width:680px){
   .shop__slider-content{
      display: block;
   }
   .shop__extras{
      padding-left: 0;
      padding-top: 35px;
   }
   .surfboard__position--1{
      left: 155px;
   }
   .footer{
      text-align: center;
      padding: 100px 0 34px;
   }
}
@media(max-width:640px){
   .travel-slider__descr{
      background-image: none !important;
   }
   .btn{
      font-size: 30px;
      line-height: 36px;
      font-weight: 800;

   }
}
@media(max-width:520px){
   .headline-left{
      letter-spacing: 2.33333px;
   }
   .subtitle__head{
      padding-right: 32px;
      font-size: 0px;
   }
   .descr__head{
      font-size: 32px;
   }
}
@media(max-width:460px){
   .header__title{
      display: none;
   }
   .slider-item__info-title{
      font-size:65px;
   }
   .header__aside{
      height: 100vh;
      display: block;
      text-align: center;
      padding-right: 0;
   }
   .header__search{
      padding: 15px 0 5px;
   }
   .header__date{
      padding: 0;
      font-size: 50px;
      line-height: 45px;
      span{
         font-size: 12px;
      }
   }
   .header__location{
         margin-top: 0; 
   }
   .travel{
         background-size: 120px;
   }
   .shop__slider-content{
      padding-left: 0;
   }
   .surfboard__position--2{
      left: 3px;
   }
   .surfboard__position--1 .surfboard-box__content{
      left: -146px;
   }

     
   
   
}
@media(max-width:425px){
   .slider-map .slider-dots__content,
   .slider-map .slick-current .slider-dots__content{
      width: 250px;
      padding: 28px 15px 0;
   }
   .travel-slider__descr .descr__head .travel__star-list{
      position: static;
   }
   .travel-slider__descr .descr__head .travel__head-sleep{
      padding-right: 0;
   }
}
@media(max-width:374px){
   .slider-map .slider-dots__content,
   .slider-map .slick-current .slider-dots__content{
      display: block;
      width: 200px;
      padding: 28px 10px 0;
   }
   .shop__extras-box{
      text-align: center;  
      margin-right: 30px;
   }
}