@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  position: relative;
  height: 100vh;
}

.header__slider {
  &-item {
    height: 100vh;
    background-image: url(../images/main-Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
}

.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 116px;
  text-align: right;
}

.slider-item__info-suptitle {
  margin-bottom: 5px;
}

.slider-item__info-suptext {
  margin-bottom: 8px;
}

.slider-item__info-title {
  font-size: 80px;
  line-height: 86px;
  font-weight: 800;
  margin-bottom: 48px;
}
.slider-item__info-text {
  font-weight: 800;
  line-height: 46px;
  font-size: 40px;
  margin-bottom: 20px;
}

.slider-arrows {
  position: absolute;
  top: 40px;
  right: 80px;
  cursor: pointer;
  z-index: 4;
}

.slider-arrows__left {
  right: 125px;
}

.slider-dots {
  position: absolute;
  right: 50px;
  bottom: 36px;
  max-width: 920px;
  width: 100%;
  .slick-current {
    .dots-box {
      border-top: 4px solid $green;
    }
  }
}

.dots-box {
  width: 200px;
  display: flex;
  justify-content: space-between;
  height: 28px;
  align-items: center;
  border-top: 4px solid #fff;
  padding-top: 6px;
  &__number {
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
  }
  &__name {
    font-weight: 300;
    line-height: 19px;
    text-transform: capitalize;
  }
}
.header__aside {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  border-right: 2px solid rgba(#fff, 0.25);
  height: 100vh;
  text-align: center;
}
.header__title {
  font-weight: 800;
  opacity: 0.07;
  color: #fff;
  font-size: 200px;
  line-height: 156px;
  min-width: 467px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.menu {
  padding-top: 40px;
  a {
    span {
      display: block;
      font-weight: 500;
      letter-spacing: 3px;
      line-height: 14px;
      font-size: 12px;
      padding-top: 6px;
      margin-bottom: 20px;
      text-transform: capitalize;
    }
  }
}
.menu-btn{

  cursor: pointer;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  z-index: 20;
  position: absolute;
  right: 20px;
  top:  75px;
  background-color:rgba(255,255,255,0.1);
  &__inner{
    width: 40px;
  }
  &__line{
    height: 5px;
    background-color: $green;
    + .menu-btn__line{
      margin-top: 5px;
    }
  }
}
.header__date {
  font-size: 72px;
  line-height: 64px;
  font-weight: 800;
  span {
    padding-top: 15px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
    display: block;
  }
}
.header__search {
  padding-top: 15px;
  padding-bottom: 35px;
}

.header__location {
  display: inline-block;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.05px;
  position: relative;
  padding-left: 19px;
  text-transform: capitalize;
  &::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 13px;
    background-image: url(../images/marker.svg);
    left: 0;
    top: 0;
  }
}

.header__map {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.header__arrows {
  position: absolute;
  left: 210px;
  bottom: 30px;
  z-index: 3;
}

.line-animation {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: animdash 5s infinite 6s;
}
@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}

.surf {
  padding: 160px 0 120px;
  background-image: url(../images/local.svg);
  background-position: right 200px;
  background-repeat: no-repeat;
  background-size: auto;
}
.surf__subtitle {
  text-align: right;
  padding-right: 80px;
  margin-top: -86px;
}
.surf-slider {
  padding-top: 110px;
  .slider-arrows {
    top: 50px;
    opacity: 0.25;
  }
  .slick-slide:nth-child(4n + 1) {
    .surf-box {
      margin-top: 32px;
    }
  }
  .slick-slide:nth-child(4n + 3) {
    .surf-box {
      margin-top: 89px;
    }
  }
  .slick-current {
    .surf-box__inner-btn {
      display: block;
    }
    .surf-box__inner {
      background: rgba(#1c2121, 0.3);
    }
  }
}

.surf-box {
  &__wrapper{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 
  &__inner {
    min-height: 750px;
    background: rgba(#1c2121, 0.85);
    position: relative;
    transition: all 0.5s;
    &:hover {
      background: rgba(#1c2121, 0.3);
      .surf-box__inner-btn {
        display: block;
      }
    }
  }
}

.surf-box__inner-title {
  font-size: 40px;
  line-height: 36px;
  font-weight: 800;
  padding: 72px 0 0 40px;
  width: 140px;
}
.surf-box__inner-location {
  position: absolute;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  transform: rotate(-90deg);
  left: 40px;
  bottom: 80px;
  width: 0;
  height: 0;
  white-space: nowrap;
  span {
    font-weight: 100;
  }
}
.surf-box__inner-btn {
  bottom: 0;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  display: none;
}

.slider-map {
  max-width: 1200px;
  min-height: 635px;
  background-image: url(../images/world-map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  .slick-list {
    min-height: 635px;
    overflow: visible;
  }
  .slick-current {
    .dots__content {
      display: block;
      width: 285px;
      padding: 28px 31px 0 32px;
    }
  }
}
.dots__content-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.dots__content-item {
  text-align: center;
  img {
    margin-bottom: 7px;
  }
  .dots__content-number {
    font-weight: 800;
    font-size: 16px;
    line-height: 23px;
  }
  .dots__content-text {
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
  }
}
.dots__content-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-color: $green;
    width: 80px;
    height: 1px;
    bottom: 0;
    left: 0;
  }
}
.dots__content-subtitle {
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
}
.dots__content-link {
  padding-top: 4px;
}
.dots__circle {
  width: 23px;
  height: 23px;
  background-color: $green;
  border-radius: 50%;
  box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
}
.dots__content {
  display: none;
  background: rgba(#000000, 0.7);
  border-radius: 6px;
  position: absolute;
  bottom: 35px;
  transform: translateX(-50%);
  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 20px solid $green;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    bottom: -21px;
    left: calc(50% - 1px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
.dots {
  position: relative;
}
.dots--1 {
  top: 335px;
  left: 0;
  .dots__content {
    transform: translateX(0);
    z-index: 5;
    &::before {
      left: -0.5px;
    }
  }
}
.dots--2 {
  top: 270px;
  left: 0;
}
.dots--3 {
  top: 330px;
  left: 0;
}
.dots--4 {
  top: 470px;
  left: -25px;
}
.dots--5 {
  top: 230px;
  left: -65px;
}
.dots--6 {
  top: 550px;
  left: -120px;
}
.dots--7 {
  top: 375px;
  left: -95px;
}
.dots--8 {
  top: 470px;
  left: 35px;
  .dots__content {
    transform: translateX(-262px);
    &::before {
      left: auto;
      right: 0.5px;
    }
  }
}

.travel {
  
  background-image: url(../images/cocktal.png);
  &.sleep{
    background-image: url(../images/flower.png);

  }
  background-position: bottom right;
  background-repeat: no-repeat;
  .slider-arrows{
    top: 225px;
    opacity: .5;
  }
}

.travel-slider {
  &__head {
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 780px;
  }
  &__descr {
    margin-top: -230px;
    padding: 160px 0 0 132px;
    min-height: 320px;
    background-repeat: no-repeat;
    background-position: right center;
    .descr__head{
      position: relative;
      padding-right: 78px;
      
      img {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
  &__subtitle {
    text-align: right;
    padding: 132px 80px 0 0;
  }
  &__btn {
    text-align: center;
    
  }
}
.travel-slider__info {
  display: flex;
  justify-content: space-around;
}
.travel-slider__info-item {
  min-height: 200px;
  margin-bottom: 66px;
  position: relative;
}
.travel-slider__info-subtitle {
  position: absolute;
  font-size: 18px;
  line-height: 22px;
  opacity: 0.5;
  transform: rotate(-90deg);
  letter-spacing: 8px;
  text-align: right;
  top: 97px;
  left: -97px;
  width: 200px;
  height: 0px;
  white-space: nowrap;
}
.travel-slider__info-title {
  position: relative;
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  padding-left: 40px;

  .sleep-slider__span {
    position: absolute;
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    line-height: 0px;
    letter-spacing: 5.25px;
    opacity: 0.75;
    bottom: -8px;
    right: 0;
  }
}



.sleep {
  background-image: url(../images/cocktal.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  .slider-arrows{
    top: 225px;
    opacity: .5;
  }
}

.sleep-slider {
  &__head {
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 780px;
  }
  &__descr {
    margin-top: -230px;
    padding: 160px 0 0 132px;
    min-height: 320px;
    background-repeat: no-repeat;
    background-position: right center;
    .descr__head{
      position: relative;
      padding-right: 215px;
      
      img {
        position: absolute;
        right: 0;
        top: 0;
      }
      .sleep__star-list{
        position: absolute;
        right: 0;
        top: 0;
        li{
          display: inline-block;
          margin-left: -25px;
        }
        img{
          position: static;
        }
      }
    }
  }
  &__subtitle {
    text-align: right;
    padding: 132px 80px 0 0;
  }
  &__btn{
    text-align: center;
  }
 
}
.sleep-slider__info {
  display: flex;
  justify-content: space-around;
}
.sleep-slider__info-item {
  min-height: 200px;
  margin-bottom: 66px;
  position: relative;
}
.sleep-slider__info-subtitle {
  position: absolute;
  font-size: 18px;
  line-height: 22px;
  opacity: 0.5;
  transform: rotate(-90deg);
  letter-spacing: 8px;
  text-align: right;
  top: 97px;
  left: -97px;
  width: 200px;
  height: 0px;
  white-space: nowrap;
}
.sleep-slider__info-title {
  position: relative;
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  padding-left: 40px;

  span {
    position: absolute;
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    line-height: 0px;
    letter-spacing: 5.25px;
    opacity: 0.75;
    bottom: -8px;
    right: 0;
  }
}

.shop{
  background-image: url(../images/shop-bg.png);
  background-repeat: no-repeat;
  background-position: right center;
  .slider-arrows{
    opacity: 0.25;
  }
}
.shop__slider{
  padding-left: 132px;
}
.shop__slider-inner{
  display: flex;
}
.shop__slider-info{
  max-width: 480px;
  margin-right: 40px;
  width: 100%;
  padding-top: 150px;
}
.descr__head-shop{
  max-width: 340px;
  margin-bottom: 47px;
}

.shop__star-list{
  margin-left: -9px;
}

.shop__slider-price{
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 64px;
  sup{
    font-size: 18px;
    padding-left: 2px;
  }
}

.shop__slider-content{
  padding-left: 170px;
  display: flex;
  align-items: flex-end;
}
.shop__extras{
  padding-left: 150px;
}
.shop__extras-inner{
  display: flex;
}
.shop__extras-title{
  font-weight: 800;
  line-height: 40px;
  margin-bottom: 25px;
  font-size:28px;
}
.shop__extras-box{
  text-align: center;
  margin-right: 57px;
}
.shop__extras-img{
  min-height: 105px;
  display: flex;
  align-items: center;  
  margin-bottom: 35px;
  justify-content: center;
}

.shop__extras-name{
  line-height: 22px;
 font-size: 18px;
 letter-spacing: 8px;
 opacity: 0.5;
 margin-bottom: 16px;
}
.shop__extras-price{
  font-size: 18px;
  line-height: 40px;
  font-weight: 800;
}

.surfboard{
  position: relative;
}
.surfboard-box{
  position: absolute;

}
.surfboard-box__circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  cursor: pointer;
  &.active{
    .circle-row{
      transform: translate(-50%,-50%);
    }
  }
}
.circle-row{
  background-color: $green;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 2px;
  transform: translate(-50%,-50%);
  & + .circle-row{
    transform: translate(-50%,-50%)rotate(90deg);
  }
}
.surfboard-box__circle.active + .surfboard-box__content{
  display: block;
}

.surfboard-box__content{
  display: none;
  position: absolute;
  width: 359px;
  font-style: 24px;
  line-height: 24px;
  font-weight: 800;
  padding-left: 104px;
  top: -15px;
  left: 40px;
   &::before{
     position: absolute;
     content: '';
     width: 80px;
     height: 1px;
     background-color: #fff;
     left: 0;
     top: 50%;
   }
}
.surfboard__pos--1{
  right: 40px;
  top: 215px;
}
.surfboard__pos--2{
  left: -6px;
  top: 313px;
}
.surfboard__pos--3{
  bottom: 70px;
  left: 52px;
  .surfboard-box__content{
    padding-left: 0;
    padding-right: 104px;
    top:-15px;
    left: -400px;
    &::before{
      position: absolute;
      content: "";
      width: 80px;
      height: 1px;
      background-color: #fff;
      right: 0;
      top: 50%;
      left: auto;
    }
  }
}

.footer{
  text-align: center;
  padding: 285px 0 34px;
  .btn{
    span{
      padding: 17px 17px 15px ;
      &::after{
        display: none;
      }
    }
    
  }
}
.footer__copy{
  padding-top: 27px;
  font-size: 12px;
  letter-spacing: 1.05px;
  opacity: 0.5;
  font-weight: 300;
}






































@import "media";
